<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="css/result.css">
    <link rel="icon" href="/img/favicon.ico">
</head>
<body>
    <section id="result-section">
        <h1>Detalhes da impresa</h1>
        <h2>Simbolo: <%= symbol %> </h2>

        <h2>Nome da organização: <%= name %> </h2>

        <p>Ultimo preço <%= latestPrice %> </p>

        <p>Ultima atualzação <%= latestTime%></p>

        <a href="/view/raw/<%= symbol %>" class="result-link">Ver mais informações!</a>
    </section>
</body>
</html>